<p>order id: <%= @order['id'] %></p>
<p>user id: <%= @order['user_id'] %></p>
<p>product id: <%= @order['product_id'] %></p>
<p>subtotal: <%= @order['subtotal'] %></p>
<p>tax: <%= @order['tax'] %></p>
<p>total: <%= @order['total'] %></p>