Edit a product here!

<% if @errors %>
  here are the errors
  <% @errors.each do |error| %>
    <p><%= error %></p>
  <% end %>
  there were the errors
<% end %>

<%= form_tag "/client/products/#{@product['id']}", method: :patch do %>
  <div>
    Name: <input type="text" name="input_name" value="<%= @product['name'] %>">
  </div>
  <div>
    Price: <input type="text" name="input_price" value="<%= @product['price'] %>">
  </div>
  <div>
    Supplier ID: <input type="text" name="input_supplier_id" value="<%= @product['supplier_id'] %>">
  </div>
  <div>
    Description: <input type="text" name="input_description" value="<%= @product['description'] %>">
  </div>
  <input type="submit" value="Edit a product"><br>
  <a href="/client/products">Click here to return to all products</a>
<% end %>

<%= form_tag "/client/products/#{@product['id']}", method: :delete do %>
  <input type="submit" value="Obliterate this product?">
<% end %>