<% @products.each do |product| %>
  <p>id: <%= product['id'] %></p>
  <p>name: <a href="/client/products/<%= product['id'] %>"><%= product['name'] %></a></p>
  <p>price: <%= product['price'] %></p>
  <p>tax: <%= product['tax'] %></p>
  <p>total price: <%= product['total_price'] %></p>
  <% if product['discounted'] %>
    <p>Discount Item</p>
  <% else %>
    <p>Everday Value</p>
  <% end %>
  <p><%= product['discounted'] %></p>
  <p>image_url: <%= product['image_url']%></p>
  <p>description: <%= product['description'] %></p>
  <a href="/client/products/<%= product['id'] %>/edit">Click here to edit this product</a>
  <hr>
<% end %>