<%= form_tag "/client/products", method: :get do %>
  <input type="text" name="client_search">
  <input type="submit" value="Search by name here">
<% end %>

<% @products.each do |product| %>
  <p>id: <%= product['id'] %></p>
  <p>name: <a href="/client/products/<%= product['id'] %>"><%= product['name'] %></a></p>
  <p>price: <%= product['price'] %></p>
  <p>tax: <%= product['tax'] %></p>
  <p>total price: <%= product['total_price'] %></p>
  <% if product['discounted'] %>
    <p>Discount Item</p>
  <% else %>
    <p>Everday Value</p>
  <% end %>
  <% product['categories'].each do |category| %>
    <p>group: <%= category['name'] %></p>  
  <% end %>
  <p><%= product['discounted'] %></p>
  <% product['images'].each do |image| %>
    <p>image_url: <%= image['url'] %></p>
  <% end %>
  <p>description: <%= product['description'] %></p>
  <a href="/client/products/<%= product['id'] %>/edit">Click here to edit this product</a>
  <hr>
<% end %>