<%= form_tag "/client/products", method: :get do %>
  <input type="text" name="client_search">
  <input type="submit" value="Search by name here">
<% end %>

<% @products.each_slice(2) do |two_products| %>
  <% @products.each do |product| %>

    <div class="row">
      <div class="col-sm-6">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title"><%= product['name'] %></h5>
            <p class="card-text"><%= product['description'] %></p>
            <p class="card-text">Price: <%= product['price'] %></p>
            <p class="card-text">
              <% if product['discounted'] %>
                <p>Discount Item</p>
              <% else %>
                <p>Everday Value</p>
              <% end %>
            </p>
            <a href="/client/products/<%= product['id'] %>" class="btn btn-primary">Go To Product Page</a>
          </div>
        </div>
      </div>
    </div>
  <% end %>
  
<% end %>
