<p>One Product incoming!!!</p>
<p>id: <%= @product['id'] %></p>
<p>name: <%= @product['name'] %></p>
<p>supplier: <%= @product['supplier']['name'] %></p>
<p>price: <%= @product['price'] %></p>
<p>tax: <%= @product['tax'] %></p>
<p>total price: <%= @product['total_price'] %></p>
<% if @product['discounted'] %>
    <p>Discount Item</p>
  <% else %>
    <p>Everday Value</p>
  <% end %>
<% @product['categories'].each do |category| %>
  <p>group: <%= category['name'] %></p>  
<% end %>
<% @product["images"].each do |image| %>
  <p><%= image['url'] %></p>
  <% end %>
<p>description: <%= @product['description'] %></p>
<%= form_tag "/client/orders", method: :post do %>
  <div>
    <input type="hidden" name="input_product_id" value=" <%= @product['id'] %>" readonly>
  </div>
  <div>
    Quantity: <input type="text" name="input_quantity">
  </div>
  <div>
    <input type="submit" value="submit order here">
  </div>
<% end %>
<a href="/client/products/<%= @product['id'] %>/edit">Click here to edit this product</a><br>
<a href="/client/products">Click here to return to all products</a>