<p>One Product incoming!!!</p>
<p>id: <%= @product['id'] %></p>
<p>name: <%= @product['name'] %></p>
<p>price: <%= @product['price'] %></p>
<p>tax: <%= @product['tax'] %></p>
<p>total price: <%= @product['total_price'] %></p>
<% if @product['discounted'] %>
    <p>Discount Item</p>
  <% else %>
    <p>Everday Value</p>
  <% end %>
<p>image_url: <%= @product['image_url']%></p>
<p>description: <%= @product['description'] %></p>
<a href="/client/products/<%= @product['id'] %>/edit">Click here to edit this product</a><br>
<a href="/client/products">Click here to return to all products</a>