<p>Carted_Product id: <%= @carted_product['id'] %></p>
<p>user id: <%= @carted_product['user_id'] %></p>
<p>product id: <%= @carted_product['product_id'] %></p>
<p>quantity: <%= @carted_product['quantity'] %></p>
<p>status: <%= @carted_product['status'] %></p>
<p>tax: <%= @carted_product['tax'] %></p>
<p>total: <%= @carted_product['total'] %></p>
<p>user email: <%= @carted_product['user']['email'] %></p>
<p>product name: <%= @carted_product['product']['name'] %></p>
<p>Subtotal: <%= @carted_product['cartedproduct']['subtotal'] %></p>
<p>Tax: <%= @carted_product['cartedproduct']['tax'] %></p>
<p>Total: <%= @carted_product['cartedproduct']['total'] %></p>