<!DOCTYPE html>
<html>
  <head>
    <title>MiniCapstoneClient</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <% flash.each do |name, message| %>
      <%= message %>
    <% end %>
    <a href="/client/signup">Sign Up</a>
    <a href="/client/login">Log In</a>
    <a href="/client/logout" data-method="delete">Log Out</a>

    <%= yield %><br>
    
    <a href="/client/products/new">Click here to create a new product</a>
  </body>
</html>
